@use "../../../../mixins.scss" as *;
@use "../../../../variables.scss" as *;

money-calculations {

  .is-landscape & {
    align-self: start;
  }

  comp-data-container,
  base-values-container {
    display: flex;
    flex-direction: column;
    @include cq-responsive((gap: 2,
      ));
  }


}