@use "../../variables.scss" as *;

home-view {
  border: 1px solid $color-panel-border;
  border-radius: 10px;
  background: $color-panel-bg;
  padding: 12px;
  color: $color-panel-fg;
  height: 100%;
  display: grid;
  place-items: center;
  box-sizing: border-box;
}

home-view button {
  border-radius: 8px;
  font-size: 18px;
  min-height: 56px;
  min-width: 220px;
}
