@use "../../../../mixins.scss" as *;
@use "../../../../variables.scss" as *;

comp-players {
  display: flex;
  flex: 1;
  overflow: auto;

  @include cq-responsive((gap: 2,
    ));

  .is-portrait & {
    flex-direction: column;

    player-grid {
      grid-template-columns: repeat(4, auto);
    }
  }

  .is-landscape & {
    flex-direction: row;
    align-self: start;

    registered-players-panel,
    all-players-panel {
      flex: none;
      min-width: 30cqw
    }

    player-grid {
      grid-template-columns: repeat(3, auto);
    }
  }


  player-grid {
    overflow: auto;
    display: grid;
    justify-content: start;
    align-content: start;

    @include cq-responsive((gap: 2,
      ));

    button {
      text-align: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      @include cq-responsive((width: 16,
        ));
    }
  }

  registered-player-cell {
    display: flex;
    align-items: center;
  }
}