@use "../../../../mixins.scss" as *;
@use "../../../../variables.scss" as *;

comp-players {
  display: flex;
  flex: 1;
  overflow: auto;

  @include cq-responsive((gap: 2,
    ));

  .is-portrait & {
    flex-direction: column;
  }

  .is-landscape & {
    flex-direction: row;
  }


  player-grid {
    flex: 1;
    overflow: auto;
    display: grid;
    align-content: start;

    .is-portrait & {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .is-landscape & {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include cq-responsive((gap: 2,
      ));

    button {
      flex: 1;
      text-align: left;
    }
  }

  registered-player-cell {
    display: flex;
    align-items: stretch;


  }
}