@use "../../mixins.scss" as *;
@use "../../variables.scss" as *;

comp-view {
  position: relative;

  top-row {
    display: flex;
    gap: 2cqh;

    comp-date {
      margin-left: auto;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-style: italic;
      font-weight: 600;
      color: $color-view-title;
      align-self: center;
      @include cq-responsive((font-size: 4));
    }

    .is-portrait & {
      flex-wrap: wrap;

      comp-actions {
        width: 100%;
      }

    }

    .is-landscape & {
      comp-actions {
        order: 2
      }

      comp-date {
        order: 3;
        margin-left: auto;
      }
    }
  }


  comp-main-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }

  big-comp-status {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    border-style: solid;
    @include cq-responsive((gap: 2,
        padding: 1.5 2,
        border-width: 0.3,
        border-radius: 1,
        font-size: 2.8,
      ));

    status-arrow {
      font-weight: 700;
      @include cq-responsive((font-size: 5));
    }

    status-message {
      font-weight: 700;
      text-transform: uppercase;
    }

    status-errors {
      display: flex;
      flex-direction: column;
      @include cq-responsive((gap: 0.8));
    }

    status-error {
      display: block;
    }

    &.is-valid {
      color: $color-dark-text;
      background: $color-button-active-bg;
      border-color: $color-button-active-border;
    }

    &.is-invalid {
      color: $color-danger-text;
      background: $color-button-danger-bg;
      border-color: $color-button-danger-border;
    }
  }




  comp-actions {
    display: flex;
    @include cq-responsive((gap: 2,
      ));

    assign-players-container {
      display: flex;
      align-items: center;

      label {
        display: flex;
        align-items: center;
        font-style: italic;
        color: $color-comp-data-value;
        @include cq-responsive((font-size: 3));
      }
    }
  }

  comp-actions-bottom {
    display: flex;
    flex-shrink: 0;
    @include cq-responsive((gap: 2,
      ));
  }

  #eight-ball-image {
    @include cq-responsive((width: 24,
      ));

    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

  #bg-leaves-image {
    position: absolute;
    z-index: -1;
    opacity: 0.28;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include cq-responsive((max-width: 80,
        max-height: 80,
      ));
  }
}