@use "../../mixins.scss" as *;
@use "../../variables.scss" as *;

comp-view {
  display: flex;

  .is-portrait & {
    flex-direction: column;
    gap: 4cqh;

    comp-details {
      comp-details-header {
        display: flex;
        justify-content: space-between;

        #eight-ball-image {
          width: 18cqw;
        }
      }
      text-box-container {
        align-items: end;
        justify-content: space-between;
        text-box {
          width: 32cqw;
          text-box-label {
            #crown-image {
              width: 22cqw;
            }
          }
        }
      }
    }
  }
  .is-landscape & {
    flex-direction: row;
    left-container {
      display: flex;
      flex-direction: column;
      gap: 2cqh;
      flex: 1;
      tournament-brackets {
        flex: 1;
        min-height: 0;
      }
    }
    right-container {
      display: flex;
      flex-direction: column;
      width: 40cqw;

      comp-details {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: flex-end;
        gap: 4cqh;

        text-box-container {
          display: flex;
          flex-direction: column;
          flex: 3;
          width: 56%;

          gap: 3cqh;
          justify-content: center;

          text-box {
            text-box-label {
              #crown-image {
                width: 24cqh;
                margin: 0 auto;
              }
            }
          }
        }
        #eight-ball-image {
          width: 24cqh;
        }
      }
    }
  }

  comp-actions {
    display: flex;
    @include cq-responsive(
      (
        gap: 2,
      )
    );
    button {
      @include cq-responsive(
        (
          font-size: 3,
          padding: 1.8 4,
          border-radius: 1,
          border-width: 0.3,
        )
      );
    }
  }

  tournament-brackets {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    gap: 2%;
    position: relative;
    width: 100%;

    svg {
      display: block;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }

  comp-title {
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: -0.01em;
    @include cq-responsive(
      (
        font-size: 10,
      )
    );
  }

  text-box-container {
    display: flex;

    text-box {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include cq-responsive(
        (
          gap: 1,
        )
      );

      text-box-label {
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        @include cq-responsive(
          (
            font-size: 3,
          )
        );
      }

      text-box-value {
        @include cq-responsive(
          (
            font-size: 3,
          )
        );
        aspect-ratio: 5 / 1;
        width: 100%;
        font-weight: 600;
        border-style: solid;
        border-color: $color-comp-field-border;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        background: $color-comp-field-bg;
        justify-content: center;
        color: $color-comp-field-fg;
      }
    }
  }

  #bg-leaves-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include cq-responsive(
      (
        max-width: 80,
        max-height: 80,
      )
    );

    opacity: 0.28;
  }
}
