@use "../../mixins.scss" as *;
@use "../../variables.scss" as *;

view-container {
  container-type: size;

  view-content {
    position: absolute;
    z-index: 2;
    display: flex;
    container-type: size;
    flex-direction: column;
    box-sizing: border-box;
    @include cq-responsive((left: $frame-width,
        right: $frame-width,
        top: $frame-width,
        bottom: $frame-width,
        padding: 6 4,
      ));

    &>* {
      width: 100cqw;
      height: 100cqh;
      display: flex;
      flex-direction: column;
      @include cq-responsive((gap: 6,
        ));
    }
  }
}