@use "../../mixins.scss" as *;
@use "../../variables.scss" as *;

header {
  display: flex;
  align-items: center;


  @include cq-responsive((gap: 2,
    ));

  nav-tabs {
    display: flex;
    margin-right: auto;
    @include cq-responsive((gap: 2,
      ));
  }

  errors-count {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-style: solid;
    border-color: $color-button-danger-border;
    border-radius: 50%;
    background-color: $color-button-danger-bg;
    color: $color-danger-text;
    font-weight: 700;
    @include cq-responsive((width: 3,
        height: 3,
        border-width: 0.4,
        font-size: 2,
      ));
  }

  connection-status {
    @include cq-responsive((font-size: 3,
      ));
    color: $color-white-text;
    text-transform: capitalize;

    &[data-status="connected"] {
      color: $color-status-connected;
    }

    &[data-status="connecting"] {
      color: $color-status-connecting;
    }

    &[data-status="disconnected"] {
      color: $color-status-disconnected;
    }
  }

  action-in-progress {
    display: block;
    justify-self: 'end';
    @include cq-responsive((width: 3,
        height: 3,
      ));
    border-radius: 50%;
    border: 1px solid $color-dark-border;

    background-color: $color-status-connected;

    &.active {
      background-color: $color-status-disconnected;
    }
  }
}