@use "../../mixins.scss" as *;
@use "../../variables.scss" as *;
header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav-tabs {
    display: flex;
    @include cq-responsive(
      (
        gap: 2,
      )
    );
  }

  connection-status {
    @include cq-responsive(
      (
        font-size: 3,
      )
    );
    color: $color-white-text;
    text-transform: capitalize;
    &[data-status="connected"] {
      color: $color-status-connected;
    }
    &[data-status="connecting"] {
      color: $color-status-connecting;
    }
    &[data-status="disconnected"] {
      color: $color-status-disconnected;
    }
  }
}
